@use "variables" as v;
@use "../base/mixins" as m;
.text-center {
  text-align: center;
}
.button {
  max-width: 27.9rem;
  width: 90%;
  text-align: center;
  background-color: v.$cta-color;
  color: white;
  padding: 1.5rem 0;
  border-radius: 28rem;
  @include m.tabletMed {
    width: 13.5rem;
  }
}
