// Fuentes
$font: "Poppins", sans-serif;

// Media Queries
$tabletSmall: 480px;
$tabletMed: 768px;
$desktopMed: 1024px;
$desktopBig: 1440px;

// Colores
$titleColor: #34313d;
$primary-100: #3a3054;
$primary-80: #4b3f6b;
$text-color: #9e9aa8;
$bg-section: #eff1f7;
$cta-color: #2bd0d0;

// Unidades
$separacion: 5rem;
